body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

.wd-screen {
	height: 100%;
}

.wd-screen > tbody > tr > td {
  height: 100%;
  padding: 0;
}
