.wd-kanbas-navigation {
	background-color: black;
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 80px;
	height: 100%;
}

.wd-kanbas-navigation li {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;     
	padding-bottom: 5px;     
	font-size: 0.8em;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.wd-kanbas-navigation li.wd-active {
	background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
	color: red;
}

.wd-kanbas-navigation a {
	color: white;
	text-decoration: none;
  display: inline;
}

.wd-kanbas-navigation a i {
	color: red;
	font-size: 2em;
	margin-bottom: 5px;
}

.wd-kanbas-navigation li.wd-account i {
	color: white;
}

.wd-kanbas-navigation li.wd-account.wd-active i {
	color: red;
}
