.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
  width: 100%;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.wd-modules > li > ul > li > ul {
	width: 100%;
	list-style: none;
	border-top: 1px solid gray !important;
}

.wd-sublist {
	margin-left: 50px;
}

.wd-modules > li > ul > li > ul {
	display: inline-block;
	width: 100%;
}

.wd-button-container > div {
  margin: 5px;
}

.wd-button-container > div {
  margin: 5px;
}

.wd-button-container.wd-button {
  text-align: left;
  border-color: #dee2e6;
  background-color: white;
}
